.topHeader {
    background: #7e7e7e;
    font-size: 50px;
    
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .login{
    width: 60%;
    padding-top: 10px;
  }

  .bottomFooter{
    width: 100%;
    background: #7e7e7e;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 550px;
    background-color: #f1f1f1;
    align-items: center;
    text-align: center;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }